* {
	font-family: helvetica, arial, sans-serif;
}

main {
	width: 1140;
	margin: auto;
	background: green;
}

section {
	float: left;
	background: grey;
	width: 80%;
}

aside {
	float: left;
	width: 20%%;
}

.loginForm{
	width: 500;
	margin: right;
	float: left;
}